#BodyPageContact{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#mainPage_Contact{
    max-width:  90%;
    display: grid;
    grid-template-columns: 40vw 50vw; 


   
}
 .sec_PageContact{
    display: flex;
    align-items: center;
    justify-content: center;
 }

#mainPage_Contact form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    padding: 10px 10px;
    width: 80%;
}

#mainPage_Contact form input{
    width: 80%;
    margin:0.5em 0px;
    height: 3em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 5px;

}


#mainPage_Contact form  textarea{
    resize: none;
    width: 80%;
    margin:0.5em 0px;
    padding: 0px 0.5em;
    border-radius: 5px;
    border: 1 black solid;
    padding: 5px 5px;
    margin-bottom: 20px;
}


#mainPage_Contact form #btnSub{
    background-color: #FACC15;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 10em;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px black;

}

.sec_PageContact p {
        text-align: justify;
        position: relative;
        bottom: 100px;    
}


@media (max-width : 1200px){
    #mainPage_Contact{
        width: 100vw;
        display: grid;
        grid-template-columns: 100vw;     }


        .sec_PageContact p {
            text-align: justify;
            position: relative;
            bottom: 0px;
            width: 70%;
            
    }


    
#mainPage_Contact form input{
    width: 80%;
    margin:0.5em 0px;
    height: 2em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 5px;

}


#mainPage_Contact form  textarea{
    resize: none;
    width: 80%;
    margin:0.5em 0px;
    padding: 0px 0.5em;
    border-radius: 5px;
    border: 1 black solid;
    padding: 5px 5px;
    margin-bottom: 20px;
}

    
}