*{
    padding: 0;
    margin: 0;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px 1em;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.Logo img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.Logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
}
.Logo input{
    height: 30px;
    width: 400px;
    border-radius: 3px;
    border: 0.1px solid black;
    margin-left: 20px;
    padding: 0px 10px;
    opacity: 0.5;
}


.Menu ul{
    width: 60%;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    text-align: center;
    opacity: 0.8;
    margin-top: 8px;

}

.Menu ul img{
    width: 26px;
    height: 20px;
 
}

.Menu ul li{
    padding: 0px 5px;

    
  
}
.Menu ul a{
    color: black;
    text-decoration: none;
}

#SingIn{
    border-right: 1px solid black;
}

.Menu ul li h3{
    color: rgb(83, 83, 83);
}


main{
    min-height: calc(100vh - 15vh - 13vh);
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
    
}



.secOne{
    width: 100%;
    display: grid;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 20vw 60vw;
    

}


#Cercle_Image{
    display: flex;
    justify-content: center;  
    position: relative;
    bottom: 30px;
    

}

#Cercle_Image img{
    width: 15px ;
    height: 15px;
    margin: 0px 8px;
    cursor: pointer;


}

.section1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.article1 img{
    width: 20px ;
    height: 20px ;
    margin-right: 10px;
    margin-bottom: 15px ;
    margin: 5px;    
}

#last1{
    border-radius: 0px 0px 2px 2px ;
}
#first1{
    border-radius:2px 2px 0px 0px  ;

}


.article1 {
    display: flex;
    margin-left: 20px;
    border: 1px solid black;
    width: 200px ;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.section2{
    width: 100%;

}

.section2 img{
    width: auto;
    height: 480px ;
    
    
}


#secScroll{
    display: flex;
    justify-content: center;
  
    width: 100%;

}

.ProductAll1{
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    width: 90%;
    overflow-x: scroll;
    white-space: nowrap;
      
}

a {
    text-decoration: none;
    color: black;
}


a span{
    color: #334155;
    text-decoration: line-through;
    text-decoration-color: red;
    opacity: 0.7;
}
.secTwo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.ProductAll{
    margin-top: 30px;
    color: rgb(75, 75, 75);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 

    
}
#RemiseText{
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 50px;
    color: gray;


}
.Products{
    margin-right: 20px;
    width: 300px;
    padding: 2px 2px;
    background-color: #F1F5F9;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 20px ;
    padding-bottom: 20px ;
    cursor: pointer;
    
    
}
#star {
    display: flex;
    justify-content: center;
    width: 90px;
    align-items: center;
    background-color: #FACC15;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 0px;
    cursor: pointer;
    color: white;
}
#star img{
    width: 20px ;
    height: 20px;
}

.infoPro1{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

#sold{
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    border-left: 1px solid black;


} 

#sold p{
    padding: 6px 0px;
    opacity: 0.6;
    font-size: 0.8em;
}

.Add_Card{
    background-color: #FACC15;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px;
    cursor: pointer;


}


    .Products span{
        text-decoration:line-through;
        color: gray;
        text-decoration-color: red;
    }

.Products img{
    width: 100%;
    
}


.Products h3 , .Products p{
    margin-left: 20px;
}


.secThree{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    
}

.secThree img{
    width: 20px;
    margin: 10px 10px ;
    cursor: pointer;
}

footer{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #334155;
    padding: 1em 0em;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}

footer ul a{
    text-decoration: none;
    color: white;

}

footer p{
    color: white;
    opacity: 0.8;
    cursor:not-allowed;
    user-select: none;
justify-content:center;
}




#fltr{
    display: none;
    
}
#checkbox1{
    display: none;
}

#Panning_DivAll{
    width: 30vw;
    position: fixed;
    right: 5vw;
    top: 65px;
    z-index: 1;
    background-color: #e9e9e9;
    display: none;
    overflow-y: scroll;
    height: 70vh;
    box-shadow: 0px 2px 5px 1px ;
    
   
}


#Panning_Div{
    width: 100%;
     padding: 10px 0px;
    cursor: pointer;
    color: rgb(0, 0, 0);    
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;    
    transition: 0.3s ease; 
}


#Panning_Div:hover{
    background-color: #ffffff;
}
#img_Product{
    margin-right:50px; 
    display: flex;
    align-items: center;
}

#img_Product img{
    width: 50px;
    height: 50px;
    border: #FACC15 solid 1px;
    border-radius: 50px;
    margin-right: 30px;
}

#ImgClosePan ,#CheckOut{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
    padding: 20px 0px;

}

#ImgClosePan:hover{
    background-color: #da0000;
    color: white;

}
#CheckOut:hover{
    background-color: #00ab03;
    color: white;
}
#CloneDiv{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}
#CloneDiv img{
    width: 35px;
    position: relative;
    bottom: 8px;
   
}


#DeleteDiv img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    transition: 0.2s ease;
    

}
#DeleteDiv img:hover{
    width: 31px;
    height: 31px;
    margin-top: 13px;
}
@media (max-width:1200px){

    header{
        flex-direction: column;
        align-items: center;
        
    }
    header .Logo{
        margin-bottom: 20px;
        width: 100%;
        
        
    }
    .Menu ul{
        justify-content: center;
        width: 100%;

    }
 
    .secOne{
        grid-template-columns: 100%;
        width: 100%;
       
    }
    .section1{
        align-items: center;
        justify-content: center;
    }

    .section2 img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .section1{
        display: none;
        transition: 0.8s ease;
        width: 100%;
    }

    .section1 .article1{
        width: 100%;
        margin-left: 0px;
    }
    
    #fltr{
        display: block;
        width: 100%;
        
    }

    #fltr button{
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background-color: #ddb30c;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    #fltr button:checked + .section1{
            display: block;
       
    }

    #Panning_DivAll{
        padding-top: 0px;
        width: 75vw;
        position: fixed;
        right: 0vw;
        top: 110px;
        z-index: 1;
        display: none;
       
    }
    
    
}