*{
    padding: 0;
    margin: 0;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.Logo img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.Logo{
    display: flex;
    align-items: center;
    text-align: center;
}
.Logo input{
    height: 30px;
    width: 400px;
    border-radius: 3px;
    border: 0.1px solid black;
    margin-left: 20px;
    padding: 0px 10px;
    opacity: 0.5;
}


.Menu ul{
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
    text-align: center;
    opacity: 0.8;
    margin-top: 8px;

}

.Menu ul img{
    width: 26px;
    height: 20px;
 
}

.Menu ul li{
    padding: 0px 5px;
    
  
}
.Menu ul a{
    color: black;
    text-decoration: none;
}

#SingIn{
    border-right: 1px solid black;
}

.Menu ul li h3{
    color: rgb(83, 83, 83);
}


main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
    
}



.secOne{
    width: 100%;
    display: grid;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 20vw 60vw;
    

}


#Cercle_Image{
    display: flex;
    justify-content: center;  
    position: relative;
    bottom: 30px;
    

}

#Cercle_Image img{
    width: 15px ;
    height: 15px;
    margin: 0px 8px;
    cursor: pointer;


}

.section1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.article1 img{
    width: 20px ;
    height: 20px ;
    margin-right: 10px;
    margin-bottom: 15px ;
    margin: 5px;    
}

#last1{
    border-radius: 0px 0px 2px 2px ;
}
#first1{
    border-radius:2px 2px 0px 0px  ;

}


.article1 {
    display: flex;
    margin-left: 20px;
    border: 1px solid black;
    width: 200px ;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.section2{
    width: 100%;

}

.section2 img{
    width: auto;
    height: 480px ;
    
    
}


#secScroll{
    display: flex;
    justify-content: center;
  
    width: 100%;

}

.ProductAll1{
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    width: 90%;
    overflow-x: scroll;
    white-space: nowrap;


  
}

a {
    text-decoration: none;
    color: black;
}


a span{
    color: #334155;
    text-decoration: line-through;
    text-decoration-color: red;
    opacity: 0.7;
}
.secTwo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.ProductAll{
    color: rgb(75, 75, 75);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 

    
}
#RemiseText{
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 50px;
    color: gray;


}
.Products{
    margin-right: 20px;
    width: 300px;
    padding: 2px 2px;
    background-color: #F1F5F9;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 20px ;
    padding-bottom: 20px ;
    cursor: pointer;
    
    
}
#star {
    display: flex;
    justify-content: center;
    width: 90px;
    align-items: center;
    background-color: #FACC15;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 0px;
    cursor: pointer;
    color: white;
}
#star img{
    width: 20px ;
    height: 20px;
}

.infoPro1{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;

}

#sold{
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    border-left: 1px solid black;


} 

#sold p{
    padding: 6px 0px;
    opacity: 0.6;

}

.Add_Card{
    background-color: #FACC15;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px;
    cursor: pointer;


}


    .Products span{
        text-decoration:line-through;
        color: gray;
        text-decoration-color: red;
    }

.Products img{
    width: 100%;
    
}


.Products h3 , .Products p{
    margin-left: 20px;
}


.secThree{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    
}

.secThree img{
    width: 20px;
    margin: 10px 10px ;
    cursor: pointer;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #334155;
    padding: 20px;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}

footer ul a{
    text-decoration: none;
    color: white;

}

footer p{
    color: white;
    opacity: 0.8;
    cursor:not-allowed;
    user-select: none;
justify-content:center;
}


